<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <%= link_to 'Add comment', post_path(post) %>
  <%= link_to 'Edit', edit_post_path(post) %>
    <% post.comments.each do |comment| %>
  <p id="comment_<%= comment.id%>">
    <strong><%= comment.user.email %></strong>
    <%= comment.body %>
  </p>
<% end %>

<% end %>
<br>

<%= link_to new_post_path do %>
  New post
<% end %>
