<%= link_to new_post_path do %>
  New post
<% end %>
<br>
<br>
<% @posts.each do |post| %>
  <div id="post_<%=post.id%>">
    <p><%= post.message %></p>
    <div id="post_<%=post.id%>_author"> <%= post.user.email %></div>
    <%= link_to 'Add comment', post_path(post) %>
    <% if current_user.id === post.user.id %>
      <%= link_to 'Edit', edit_post_path(post) %>
    <% end %>
    <%= link_to 'Delete', post_path(post), :method => :delete,
                                            data: { confirm: "Are you sure?" } %>
    <% post.comments.each do |comment| %>
      <p id="comment_<%= comment.id%>">
        <strong><%= comment.user.email %></strong>
        <%= comment.body %>
      </p>
    <% end %>
  </div>
<% end %>